{% extends 'base.html' %}
{% load static %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block content %}
<div class="custom-container">
    <h2 class="custom-title">Connexion</h2>

    {% if messages %}
    <div class="custom-messages">
        {% for message in messages %}
        <div class="custom-message {% if message.tags == 'error' %}custom-error{% else %}custom-success{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="custom-form-group">
            <label for="{{ form.email.id_for_label }}" class="custom-label">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
            <p class="custom-error-text">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="custom-form-group">
            <label for="{{ form.password.id_for_label }}" class="custom-label">Mot de passe:</label>
            {{ form.password }}
            {% if form.password.errors %}
            <p class="custom-error-text">{{ form.password.errors.0 }}</p>
            {% endif %}
        </div>
        <p class="custom-link">
            <a href="{% url 'accounts:password_reset_request' %}" class="custom-link-text">Mot de passe oublié?</a>
            <br>
        </p>
        <button type="submit" class="custom-button">
            Se connecter
        </button>
    </form>

    <p class="custom-link">
        Pas encore de compte? <a href="{% url 'accounts:signup' %}" class="custom-link-text">S'inscrire</a>
    </p>
</div>

{% block script %}
{{ block.super }}
<script>
    // Ajouter la classe custom-input à tous les champs du formulaire
    document.addEventListener('DOMContentLoaded', function () {
        // Ajouter classes et placeholders aux champs
        const formFields = {
            'id_email': { class: 'custom-input', placeholder: 'Entrez votre adresse email' },
            'id_password': { class: 'custom-input', placeholder: 'Votre mot de passe' }
        };

        for (const [id, attrs] of Object.entries(formFields)) {
            const field = document.getElementById(id);
            if (field) {
                field.classList.add(attrs.class);
                field.setAttribute('placeholder', attrs.placeholder);
            }
        }
    });
</script>
{% endblock script %}
{% endblock %}